.title {
    font-size: 20;
    horizontal-align: center;
    margin:20;
    padding-bottom:10;
}

.button {
    font-size: 20;
    horizontal-align: center;
    height:60;
    width:250;
    margin-top:10;
}

.message {
    font-size: 11;
    horizontal-align: center;
    margin-bottom: 10;
}

.label{ margin-top:20; margin-left:5;}
.element{ margin-top:-25;}